.App .pup-card {
  margin: 3px;
}

.App .pup-card:hover {
  cursor: pointer;
  border: 5px solid black;
}

.nav {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: burlywood;
  padding: 10px;
}

.jumbo {
  background-color: burlywood;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.game {
  text-align: center;
}